앞서 사용했던 데이터와 같은 데이터를 이용하는데,<br>
Lasso Regression을 이용해서 과대적합 문제를 한 번 해결해보겠습니다.

In [1]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures

import numpy as np
import pandas as pd

In [2]:
admission_df = pd.read_csv('admission_data.csv').drop('Serial No.', axis=1)  # 안 쓰는 컬럼은 삭제

In [3]:
admission_df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
X = admission_df.drop(['Chance of Admit '], axis=1)

polynomial_transformer = PolynomialFeatures(6)
polynomial_features = polynomial_transformer.fit_transform(X.values)
features = polynomial_transformer.get_feature_names_out(X.columns)

In [5]:
X = pd.DataFrame(polynomial_features, columns=features)
X.head()

,1,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,GRE Score^2,GRE Score TOEFL Score,...,LOR CGPA^2 Research^3,LOR CGPA Research^4,LOR Research^5,CGPA^6,CGPA^5 Research,CGPA^4 Research^2,CGPA^3 Research^3,CGPA^2 Research^4,CGPA Research^5,Research^6
0,1.0,337.0,118.0,4.0,4.5,4.5,9.65,1.0,113569.0,39766.0,...,419.05125,43.425,4.5,807539.696082,83682.870060,8671.800006,898.632125,93.1225,9.65,1.0
1,1.0,324.0,107.0,4.0,4.0,4.5,8.87,1.0,104976.0,34668.0,...,354.04605,39.915,4.5,487014.306256,54905.784245,6190.054594,697.864103,78.6769,8.87,1.0
2,1.0,316.0,104.0,3.0,3.0,3.5,8.00,1.0,99856.0,32864.0,...,224.00000,28.000,3.5,262144.000000,32768.000000,4096.000000,512.000000,64.0000,8.00,1.0
3,1.0,322.0,110.0,3.0,3.5,2.5,8.67,1.0,103684.0,35420.0,...,187.92225,21.675,2.5,424731.610940,48988.651781,5650.363527,651.714363,75.1689,8.67,1.0
4,1.0,314.0,103.0,2.0,2.0,3.0,8.21,0.0,98596.0,32342.0,...,0.00000,0.000,0.0,306237.903347,0.000000,0.000000,0.000000,0.0000,0.00,0.0

In [6]:
scaler = preprocessing.MinMaxScaler()
normalized_data = scaler.fit_transform(X)

In [7]:
normalized_X = pd.DataFrame(data=normalized_data, columns=X.columns)
normalized_X.head()

,1,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,GRE Score^2,GRE Score TOEFL Score,...,LOR CGPA^2 Research^3,LOR CGPA Research^4,LOR Research^5,CGPA^6,CGPA^5 Research,CGPA^4 Research^2,CGPA^3 Research^3,CGPA^2 Research^4,CGPA Research^5,Research^6
0,0.0,0.94,0.928571,0.75,0.875,0.875,0.913462,1.0,0.935524,0.923168,...,0.860326,0.879939,0.9,0.829747,0.871120,0.895494,0.920549,0.946305,0.972782,1.0
1,0.0,0.68,0.535714,0.75,0.750,0.875,0.663462,1.0,0.662730,0.544360,...,0.726868,0.808815,0.9,0.454461,0.571557,0.639216,0.714884,0.799510,0.894153,1.0
2,0.0,0.52,0.428571,0.50,0.500,0.625,0.384615,1.0,0.500190,0.410314,...,0.459879,0.567376,0.7,0.191172,0.341108,0.422974,0.524487,0.650364,0.806452,1.0
3,0.0,0.64,0.642857,0.50,0.625,0.375,0.599359,1.0,0.621714,0.600238,...,0.385810,0.439210,0.5,0.381537,0.509961,0.583485,0.667609,0.763862,0.873992,1.0
4,0.0,0.48,0.392857,0.25,0.250,0.500,0.451923,0.0,0.460190,0.371526,...,0.000000,0.000000,0.0,0.242799,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [8]:
y = admission_df[['Chance of Admit ']]
y.head()

   Chance of Admit
0              0.92
1              0.76
2              0.72
3              0.80
4              0.65

In [9]:
X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size=0.3, random_state=5)

모델만 그냥 ElasticNet 모델로 바꿔서 생성해줍니다.

모델을 만들 때 정규화 항에 알파를 곱했었는데, 그 값을 정해줘야 합니다.

l1_ratio에 혼합 비율 r도 전달해줘야 합니다.

In [10]:
model = ElasticNet(alpha=0.1, l1_ratio=0.5)
model.fit(X_train, y_train)

ElasticNet(alpha=0.1)

In [11]:
y_train_predict = model.predict(X_train)
y_test_predict = model.predict(X_test)

In [12]:
mean_squared_error(y_train, y_train_predict) ** 0.5

0.14704413054090468

In [13]:
mean_squared_error(y_test, y_test_predict) ** 0.5

0.12578191579132533