앞서 사용했던 데이터와 같은 데이터를 이용하는데,<br>
Lasso Regression을 이용해서 과대적합 문제를 한 번 해결해보겠습니다.

In [1]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import preprocessing
from sklearn.preprocessing import PolynomialFeatures

import numpy as np
import pandas as pd

In [2]:
admission_df = pd.read_csv('admission_data.csv').drop('Serial No.', axis=1)  # 안 쓰는 컬럼은 삭제

In [3]:
admission_df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
X = admission_df.drop(['Chance of Admit '], axis=1)

polynomial_transformer = PolynomialFeatures(6)
polynomial_features = polynomial_transformer.fit_transform(X.values)
features = polynomial_transformer.get_feature_names_out(X.columns)

AttributeError: 'PolynomialFeatures' object has no attribute 'get_feature_names_out'

In [ ]:
X = pd.DataFrame(polynomial_features, columns=features)
X.head()

In [ ]:
scaler = preprocessing.MinMaxScaler()
normalized_data = scaler.fit_transform(X)

In [ ]:
normalized_X = pd.DataFrame(data=normalized_data, columns=X.columns)
normalized_X.head()

In [ ]:
y = admission_df[['Chance of Admit ']]
y.head()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(normalized_X, y, test_size=0.3, random_state=5)

모델만 그냥 ElasticNet 모델로 바꿔서 생성해줍니다.

모델을 만들 때 정규화 항에 알파를 곱했었는데, 그 값을 정해줘야 합니다.

l1_ratio에 혼합 비율 r도 전달해줘야 합니다.

In [ ]:
model = ElasticNet(alpha=0.1, l1_artio=0.5)
model.fit(X_train, y_train)

In [ ]:
y_train_predict = model.predict(X_train)
y_test_predict = model.predict(X_test)

In [ ]:
mean_squared_error(y_train, y_train_predict) ** 0.5

In [ ]:
mean_squared_error(y_test, y_test_predict) ** 0.5

정규화를 하기 전에 비해서 트레이닝 셋에 대한 RMSE는 늘어났지만,<br>
테스트 셋에 대한 RMSE는 훨씬 작아진 것을 확인할 수 있고,

각각의 RMSE가 0.06정도의 작은 값이면서<br>
트레이닝 셋과 테스트 셋의 RMSE가 0.001정도의 작은 차이만 보여주고 있기 때문에<br>
과소적합도 과대적합도 발생하지 않은 것을 알 수 있습니다.